[user]
	email = peter.janson@elvaco.se
	name = Peter Janson

[core]
	editor = vim

[alias]
	changes  = diff --name-status -r
	diffstat = diff --stat -r
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	push-review = "!f() { git push origin HEAD:refs/for/$1/$2; }; f"
	reset-soft = !git reset --soft HEAD^
	reset-hard = !git reset --hard HEAD^
	showtool = "!showci () { rev=${1:-HEAD}; git difftool $rev~1 $rev; }; showci $1"

[pull]
	rebase = true

[difftool]
	prompt = false

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[diff]
	tool = meld

[push]
	default = simple

[commit]
	template = /home/petjan/.gitmessage.txt


[merge]
	tool=automeld
[mergetool "automeld"]
	cmd = meld --auto-merge $LOCAL $BASE $REMOTE --output $MERGED
[mergetool]
	keepBackup = false
[help]
	autocorrect = 1
